.idea/**
!/.idea/runConfigurations/*.xml
!/.idea/runConfigurations/
watchlist.iml
gradle.properties
.gradle
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
